:root {
	--bg-color: #ebebeb;
	--input-placeholder: #d4d4d4;
	--input-bg: #efefef;
	--text-highlight: #FFFF;
	--blue-highlight: #2a7ae4;
	--bg-contact: #eaf2fd;
    --bg-search: #f5f5f5;

}

body{
    width: 100%;
    margin:0 auto;
}

p{
    margin:0;
    padding:0;
}

.flex_container{
    display:flex;
    
}

header{
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    max-width: 1400px;
}

.top{
    padding:32px;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
    margin: 0 auto;
    max-width: 1400px;
    padding-left:32px;
    padding-right: 32px;
}

.top_search{
    width: 393px;
    height: 40px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    border-color:var(--bg-search);
    border-radius: 20px;
    background-color: var(--bg-search);
    padding:1em;
    align-items: center;
    justify-content: space-between;
}

.top_search_input{
    border:none;
    width: 80%;
    height: 80%;
    padding-left:1em;
    background-color: var(--bg-search);
}

.top_search_button{
    background-image: url('./assets/lupa.png');
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    border:none;
    background-color:var(--bg-search);
}

.top_login{
    border-color: var(--blue-highlight);
    color: var(--blue-highlight);
    background-color: var(--input-bg);
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    width: 7em;
    height: 2em;
}

.banner{
    background-image: url('../assets/banner.jpg');
    background-repeat: no-repeat;
    flex-direction: column;
    height: 352px;
    align-items: left;
    padding-left:32px;
    padding-right: 32px;
    width: 90vw;
    margin: 0 auto;
    max-width: 1400px;
}

.banner_title{
    color: var(--text-highlight);
    font-weight: 700;
    font-size: 52px;
    line-height: 61px;
    padding-top:10px;
}

.banner_subtitle{
    color: var(--text-highlight);
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
}

.banner_button{
    flex-wrap: wrap;
    color: var(--text-highlight);
    background-color: var(--blue-highlight);
    border:none;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    border-radius: .5em;
    padding: .9em;
    width: 10em;
    height: 2.6em;
}

.products {
    padding: 32px;
    width: 90vw;
    margin: 0 auto;
    max-width: 1400px;
    justify-content: center;
    flex-direction: column;
}

.category_seeall{
    display:flex;
    text-decoration: none;
    color:var(--blue-highlight);
    font-weight: bold;
    align-items: center;
}

.products_category{
    flex-direction: column;
    margin-top:1em;
    margin-bottom: 1em;
}

.category_title_container {
    justify-content: space-between;
    padding-left: 5em;
    padding-right: 5em;
}

.category_title{
    flex-grow: 1;
}

.products_boxes_container {
    flex-wrap: wrap;
    padding-right: 4em;
    padding-left: 4em;
    justify-content: space-around;
}

.product_box{
    flex-direction: column;
}

.product_link {
    text-decoration: none;
    font-weight: bold;
    margin-left:0.5em;
}

.product_title{
    margin: 0 0 0 0.5em;
    display: flex;
    padding:0;
}

.product_price {
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left:0.5em;
}

.bottom {
    justify-content: space-between;
    padding-left: 9em;
    padding-right: 10em;
    background-color: var(--bg-contact);
    min-height: 17em;
    padding-top: 2em;
    padding-bottom: 2em;
}

.bottom_links ul{
    display:flex;
    flex-direction: column;
    text-decoration: none;
    list-style-type:none;
    line-height: 2em;
    justify-content: space-between;
}

.bottom_contact{
    flex-direction: column;
}

.form {
    flex-direction: column;
    height: auto;
    justify-content: space-between;
    min-height: 11em;
}

.form_name{
    height: 3em;
    margin-bottom: 0.5em;
    border-radius: 5px;
}

.form_message{
    border-radius: 5px;
}

.button_sendMsg{
    background-color: var(--blue-highlight);
    color:var(--bg-color);
    border:none;
    width: fit-content;
    padding:1em;
    margin-top:0.5em;
    border-radius: 5px;
}

footer{
    flex-direction: column;
    align-items: center;
    padding:2em;
}

@media screen and (max-width: 480px) {

    .top{
        flex-direction: column;
        align-items: flex-start;
    }

    .top :nth-child(1) { order: 1; }
    .top :nth-child(2) { order: 3; }
    .top :nth-child(3) {
        order: 2;
        margin-bottom:10px;
    }

    .top_login {
        margin-top: 1em;
    }

    .top_search {
        width: auto;
    }

    .banner {
        width: auto;
        height: auto;
    }

    .banner_title{
        width: auto;
        height: auto;
        font-size: 5vw;
        line-height: 6vw;
        padding-top:2vw;
    }

    .banner_subtitle{
        width: auto;
        height: auto;
        font-size: 5vw;
        line-height: 6vw;
    }

    .banner_button{
        width: auto;
        height: auto;
        font-size: 5vw;
        line-height: 6vw;
        max-width: 10em;
        max-height: 2.6em;
        margin-bottom: 2em;
    }
  
    .bottom{
        flex-direction: column;
        margin:0;
        padding:2em;
    }
 }